/.idea/
/core/target/
/api/target/
/domain/target/
/rest/target/
/restexportprocessor/src/main/java/com/tinqin/bff/restexport/RestExport.java
/persistence/target/
/restexportprocessor/target/
/rest/src/main/java/com/tinqin/bff/rest/restexport/RestExport.java
